snippet fln "print with new line"
fmt.Println(${1})
endsnippet

snippet ff "print without new line"
fmt.Printf("${1}")
endsnippet

snippet dbline "print debug line"
fmt.Println("============DEBUG ${1} START===========")
${0}
fmt.Println("============DEBUG ${1} END=============")
endsnippet
