// https://github.com/newmanls/rofi-themes-collection
@theme "themes/rounded-nord-dark.rasi"

configuration {
    modi: "window,run,ssh,keys,filebrowser";
    font: "mononoki 15";
}

window {
    location:       center;
    width:          800;
}
