// https://github.com/newmanls/rofi-themes-collection
// @theme "themes/rounded-nord-dark.rasi"
@theme "themes/simple-tokyonight.rasi"

configuration {
    modi: "window,run,ssh,keys,filebrowser";
    // font: "mononoki 20";
}

element {
  children: [element-icon, element-text];
}

element-icon {
  padding: 5px 5px;
  size: 20px;
}

window {
    location:       center;
    width:          800;
}
