[global]
workgroup = MYGROUP
server string = Samba Server
server role = standalone server
;log file = /usr/local/samba/var/log.%m
logging = syslog
max log size = 50
dns proxy = no
allow insecure wide links = yes

[smb]
comment = work file space
path = /home/{{ ansible_user }}/samba_share
read only = no
writable = yes
public = yes
